<section th:fragment="ErrorHandeling" class="px-7 w-[430px]">
  <div th:if="${deleteSuccess}" class="p-4 text-sm text-green-800 rounded-lg bg-[#c9e8b9]" role="alert">
    <span>Le module <span class="font-bold text-green-900" th:text="${deleteSuccess}"></span> a été supprimé avec succès</span>
  </div>
  <div th:if="${error}" class="p-4 text-sm text-red-800 rounded-lg bg-[#f8d7da]" role="alert">
    <p th:text="${error}"></p>
  </div>
  <div th:if="${addSucessModule}" class="p-4 text-sm text-green-800 rounded-lg bg-[#c9e8b9]" role="alert">
    <span>Le module <span class="font-bold text-green-900" th:text="${addSuccessModule}"></span> a été ajouté avec succès</span>

  </div>
  <div th:if="${errorAddModule}" class="p-4 text-sm text-red-800 rounded-lg bg-[#f8d7da]" role="alert">
    <p th:text="${errorAddModule}"></p>
  </div>
  <div th:if="${editSucessModule}" class="p-4 text-sm text-green-800 rounded-lg bg-[#c9e8b9]" role="alert">
    <span>Le module <span class="font-bold text-green-900" th:text="${editSuccessModule}"></span> a été éditer avec succès</span>

  </div>
  <div th:if="${erroreditModule}" class="p-4 text-sm text-red-800 rounded-lg bg-[#f8d7da]" role="alert">
    <p th:text="${erroreditModule}"></p>
  </div>
</section>
