<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head ('Gestion Filières')}"></head>
<body class="bg-gray-100 h-screen">

<div class="flex h-screen">

    <aside th:replace="fragments/side_bar :: aside"></aside>
    <main class="bg-white rounded-l-lg shadow-lg w-full col-span-11 flex flex-col h-screen">
        <nav th:replace="fragments/nav :: nav"></nav>
        <div class="flex-1 overflow-y-auto " id="THISISDADIV">
            <section class="p-6 overflow-auto">
                <div class="col-span-2 flex  justify-between">
                    <div class="flex flex-col">
                        <h1 class="text-4xl font-semibold">Filières</h1>
<!--                        <div th:replace="~{profile/edit_profile_errors :: div}"></div>-->
                    </div>
                    <div>
                        <button data-modal-target="addFilModal" data-modal-toggle="addFilModal" type="button"
                                class="bg-[#B10C74] hover:bg-[#db2777] text-white font-bold py-3 px-6 rounded">
                            + Ajouter une filière
                        </button>
                    </div>
<!--                    <div th:replace="~{profile/edit_pwd_modal :: div}"></div>-->
                </div>
                <div class="mt-5 mb-6 flex justify-between">
                    <form th:replace="~{Admin/filiere/search_bar :: form}"></form>
                </div>
                <table th:replace="Admin/filiere/filiere_list"></table>
                <div th:replace="~{Admin/filiere/filiere_pagination :: div}"></div>
            </section>
        </div>
    </main>
</div>
</body>
</html>