<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head ('Gestion Filières')}"></head>
<body class="bg-gray-100 h-screen">

<div class="flex h-screen">

    <aside th:replace="fragments/side_bar :: aside"></aside>
    <main class="bg-white rounded-l-lg shadow-lg w-full col-span-11 flex flex-col h-screen">
        <nav th:replace="fragments/nav :: nav"></nav>
        <div class="flex-1 overflow-y-auto " id="THISISDADIV">
            <section class="p-6 overflow-auto">
                <div class="col-span-2 flex  justify-between">
                    <div class="flex flex-col">
                        <h1 class="text-4xl font-semibold">Filières</h1>
<!--                        <div th:replace="~{profile/edit_profile_errors :: div}"></div>-->
                    </div>
                    <div>
                        <button data-modal-target="filModal" data-modal-toggle="filModal" type="button"
                                class="bg-[#B10C74] hover:bg-[#db2777] text-white font-bold py-3 px-6 rounded" id="addFiliereBtn">
                            + Ajouter une filière
                        </button>
                    </div>
                    <div th:if="${filieres != null}" th:replace="~{Admin/filiere/add_filiere_modal :: div (${diplomes}, ${profs})}"></div>
                    <div th:if="${filieres != null}" th:replace="~{Admin/filiere/affectation_modal :: div (${modules}, ${profs})}"></div>
                </div>
                <div class="mt-5 mb-6 flex justify-between">
                    <form th:replace="~{Admin/filiere/search_bar :: form}"></form>
                </div>
                <table th:replace="~{Admin/filiere/filiere_list}"></table>
                <div th:replace="~{Admin/filiere/filiere_pagination :: div}"></div>
            </section>
        </div>
    </main>
</div>
<script type="module">
    import { updateYears, prefillFiliereForm, resetFiliereModal, prefillAffectationsForm } from '/public/js/filiereFuncs.js'

    updateYears();
    prefillFiliereForm();
    $("#addFiliereBtn").click(resetFiliereModal);
    $("#affectationBtn").click(prefillAffectationsForm);

    $("#affectationModalForm").on("submit", (e) => {
        e.preventDefault();
        e.stopPropagation();

        const form = new FormData(e.target);

        for (const [key, value] of form.entries())
            console.log(`${key} : ${value}`);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>