<div th:fragment="edit_profile_errors" th:if="${error == true || password != null}" class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-[#ffdbdc]"
     role="alert">
  <div th:if="${email != null}">
    <p>
      L'email <span class="font-bold" th:text="|'${email}'|"></span>
      existe déjà
    </p>
  </div>
  <div th:if="${telephone != null}">
    <p>
      Le numéro de téléphone <span class="font-bold" th:text="|'${telephone}'|"></span>
      existe déjà
    </p>
  </div>
  <div th:if="${cin != null}">
    <p>
      Le numéro de la CIN <span class="font-bold" th:text="|'${cin}'|"></span>
      existe déjà
    </p>
  </div>
  <div th:if="${password != null}">
    <p>
      <span class="font-bold" th:text="|${password}|"></span>
    </p>
  </div>
</div>

<div th:fragment="edit_profile_success" th:if="${success != null}" th:class="${success ? 'p-4 mt-2 text-sm text-[#52b963] rounded-lg bg-[#71ff88]' : 'p-4 mt-2 text-sm text-red-800 rounded-lg bg-[#ffdbdc]'}"
     role="alert">
  <div>
    <p th:if="${success}">Vos données ont été modifiées avec succès</p>
    <p th:unless="${success}">Une erreur s'est produite lors de la modification.<br/>Veuillez réessayer plus tard.</p>
  </div>
</div>
