<div th:fragment="objectives"
     th:each="objectif, i : ${entry.objectifs}"
     class="flex gap-5 pt-5" th:id="|objectifDiv-${i.index}|">
    <button class="bg-transparent self-end mb-2 addBtns"
            type="button" th:id="|add-${i.index}|">
        <img src="/public/add.png" alt="add" class="w-8 h-8">
    </button>
    <button th:if="${i.index > 0}" class="bg-transparent self-end mb-2 removeBtns"
            type="button" th:id="|remove-${i.index}|">
        <img src="/public/minus.png" alt="delete" class="w-8 h-8">
    </button>
    <div class="flex-1 flex gap-5 justify-between">
        <div class="flex-1">
            <label th:for="|objectifs[${i.index}].contenue|" class="block font-semibold text-gray-700">Objectifs</label>
            <input type="text" th:name="|objectifs[${i.index}].contenue|" th:id="|objectifs[${i.index}].contenue|" required placeholder="Saisir un objectif"
                   class="w-full mt-1 p-3 border rounded-md" th:value="${objectif.contenue}" >
        </div>

        <!-- Atteint -->
        <div class="flex items-center me-4 mt-6" th:with="name = |objectifs[${i.index}].atteint|">
            <input th:id="|objectifs-${i.index}-atteint|" type="checkbox" value="true" th:name="${objectif.atteint ? name : ''}" th:checked="${objectif.atteint}"
                   class="w-7 h-7 text-2xl text-[#B10C74] bg-gray-700 border-gray-600 rounded focus:ring-[#B10C74] focus:ring-2 atteintCheckbox">
            <label th:for="|objectifs-${i.index}-atteint|"
                   class="ms-2 text-2xl font-medium text-[#313863]">Atteint</label>

            <input type="hidden" th:id="|atteint-${i.index}-hidden|"  th:name="${!objectif.atteint ? name : ''}" value="false">
        </div>
    </div>
</div>