<aside th:fragment="side_bar"
       class="sidebar-hover group relative w-24 transition-all duration-300 bg-[#F2EEE7] shadow-md flex flex-col justify-between">
    <div>
        <!-- Logo -->
        <div class="py-4 px-4 flex justify-center">
            <img th:src="@{/public/logo.png}" alt="Logo" class="transition-all duration-300">
        </div>

        <!-- Navigation -->
        <nav class="mt-6">
            <ul class="space-y-4">
                <li class="group/home hover:bg-[#B10C74] flex justify-center group-hover:justify-start px-5 py-2 text-gray-700 hover:text-white transition-all duration-100">
                    <svg th:replace="fragments/icons/home_icon :: svg"></svg>
                    <span class="ml-4 text-sm hidden group-hover:block">Accueil</span>
                </li>
                <!-- Admin specific routes -->
                <li th:if="${user.getRole().getAuthority() == 'ROLE_ADMIN'}">
                    <ul class="space-y-4">
                        <li class="group/user hover:bg-[#B10C74] flex justify-center group-hover:justify-start px-5 py-2 text-gray-700 hover:text-white transition-all duration-100">
                            <svg th:replace="fragments/icons/users_icon :: svg"></svg>
                            <span class="ml-4 text-sm hidden group-hover:block">Utilisateurs</span>
                        </li>
                        <li class="group/professor hover:bg-[#B10C74] flex justify-center group-hover:justify-start px-5 py-2 text-gray-700 hover:text-white transition-all duration-100">
                            <svg th:replace="fragments/icons/professors_icon :: svg"></svg>
                            <span class="ml-4 text-sm hidden group-hover:block">Professeurs</span>
                        </li>
                        <li class="group/module hover:bg-[#B10C74] flex justify-center group-hover:justify-start px-5 py-2 text-gray-700 hover:text-white transition-all duration-100">
                            <svg th:replace="fragments/icons/module_icon :: svg"></svg>
                            <span class="ml-4 text-sm hidden group-hover:block">Modules</span>
                        </li>
                        <li class="group/filiere hover:bg-[#B10C74] flex justify-center group-hover:justify-start px-5 py-2 text-gray-700 hover:text-white transition-all duration-100">
                            <svg th:replace="fragments/icons/filiere_icon :: svg"></svg>
                            <span class="ml-4 text-sm hidden group-hover:block">Filières</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Logout -->
    <div class="py-4 px-4 flex justify-center group-hover:justify-start">
        <form th:action="@{/logout}" th:method="POST">
            <button class="flex items-center gap-2 text-gray-600 hover:text-black">
                <svg th:replace="fragments/icons/logout_icon :: svg"/>
                <span class="hidden group-hover:block text-sm">Déconnexion</span>
            </button>
        </form>
    </div>
</aside>