<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head ('404 NOT FOUND')}"></head>
<body>
<div class="grid h-screen place-content-center bg-white px-4">
    <div class="text-center">
        <h1 class="text-9xl font-black text-[#B10C74]">404</h1>
        <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Uh-oh!</p>
        <p class="mt-4 font-medium text-gray-500">Cette page n'existe pas</p>
        <a
                href="/acceuil"
                class="mt-6 inline-block rounded bg-[#313863] px-5 py-3 text-sm font-bold text-white hover:bg-[#5663af] focus:outline-none focus:ring"
        >
            Revenir à la page d'acceuil
        </a>
    </div>
</div>
</body>
</html>

