<table th:fragment="filiere_table" class="w-full border-collapse border border-gray-200 shadow-sm rounded-lg overflow-hidden">
  <thead class="bg-[#b10c74] text-white">
  <tr>
    <th class="py-4 text-center">Filière</th>
    <th class="py-4 text-center">Module</th>
    <th class="py-4 text-center">Professeur</th>
    <th class="py-4 text-left"></th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${affs == null || affs.getNumberOfElements() == 0}"
      class="text-center bg-gray-100 hover:bg-gray-200 transition-all"
  >
    <td colspan="6" class="p-4 font-medium" th:text="'Aucune affectation à afficher'"></td>
  </tr>
  <tr th:if="${affs != null}" th:each="aff : ${affs}"
      class="text-center bg-gray-100 hover:bg-gray-200 transition-all">

    <td class="p-4" th:text="${aff.getFiliereIntitule()}"></td>
    <td class="p-4" th:text="${aff.getModule().getIntitule()}"></td>
    <td class="p-4" th:text="${aff.getProfesseur().getFullName()}"></td>
    <td class="p-4">
      <a class="hover:opacity-80"
         th:with="url = ${'/filieres/' + aff.getFiliereId() + '/affectations'}"
         th:href="@{${url}(niveau=${aff.getNiveau()}, semestre=${aff.getSemestre()})}">
        <img src="/public/eye.png" alt="Voir" class="h-6 w-8">
      </a>
    </td>
  </tr>
  </tbody>
</table>