<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head ('Mes qualification')}"></head>
<body class="bg-gray-100 h-screen">

<div class="flex h-screen">

    <aside th:replace="fragments/side_bar :: aside"></aside>
    <main class="bg-white rounded-l-lg shadow-lg w-full col-span-11 flex flex-col h-screen">
        <nav th:replace="fragments/nav :: nav"></nav>
        <div class="flex-1 overflow-y-auto " id="THISISDADIV">
            <section class="p-6 overflow-auto">
                <div class="flex justify-between">
                    <form th:replace="~{fragments/search_bar :: form}"></form>
                    <select class="p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600">
                        <option value="type">Type</option>
                        <option value="dateASC">Plus ancien</option>
                        <option value="dateDESC">Plus récent</option>
                    </select>
                </div>
                <div class="flex flex-col">
                    <h1 class="text-4xl my-8 font-semibold">Mes Qualifications</h1>
                </div>
                <table class="w-full border-collapse border border-gray-200 shadow-sm rounded-lg overflow-hidden">
                    <thead class="bg-[#b10c74] text-white">
                    <tr>
                        <th class="p-4 text-left">Type</th>
                        <th class="p-4 text-left">Intitulé</th>
                        <th class="p-4 text-left">Date d'obtention</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="qual : ${user.getQualifications()}"
                        class="bg-gray-100 hover:bg-gray-200 transition-all">
                        <td class="p-4">Type section</td>
                        <td class="p-4" th:text="${qual.getIntitule()}"></td>
                        <td class="p-4" th:text="${qual.getDateObtention()}"></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>
</div>
</body>
</html>