<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head ('Archive des Cahiers de Textes')}"></head>
<body class="bg-gray-100 h-screen">

<div class="flex h-screen">

    <aside th:replace="~{fragments/side_bar :: aside}"></aside>
    <main class="bg-white rounded-l-lg shadow-lg w-full col-span-11 flex flex-col h-screen">
        <nav th:replace="~{fragments/nav :: nav}"></nav>
        <div class="flex-1 overflow-y-auto " id="THISISDADIV">
            <section class="p-6 overflow-auto">
                <div class="col-span-2 flex  justify-between">
                    <div class="flex flex-col">
                        <h1 class="text-4xl font-semibold">Archive des Cahiers de Textes</h1>
                        <div th:replace="~{cahiers/archived/delete_modal}"></div>
                        <div th:if="${error != null}"
                             th:class="|p-4 mt-2 text-sm ${!error ? 'text-green-800 bg-green-200' : 'text-red-800 bg-red-200'} rounded-lg |"
                             role="alert">
                            <div th:unless="${error}">
                                <p>Le cahier de textes à été supprimé avec succès</p>
                            </div>
                            <div th:if="${error}">
                                <p>Une erreure s'est produite lors de la suppression. Veuillez réessayer plutard</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 mb-6 flex justify-between">
                    <form th:replace="~{cahiers/archived/archive_search_bar :: form}"></form>
                </div>
                <table th:replace="~{cahiers/archived/archived_cahiers_list}"></table>
                <div th:replace="~{cahiers/archived/archived_cahiers_pagination :: div}"></div>
            </section>
        </div>
    </main>
</div>
<script sec:authorize="hasRole('SS')">
    $(".cahierDelBtns").each((index, btn) => {
        $(btn).on("click", (e) => {
            const title = $(btn).data("title");
            const id = $(btn).data("cahier");
            const mod = $(btn).data("mod");
            const prof = $(btn).data("prof");
            const sem = $(btn).data("sem");
            $("#deleteModalForm").attr("action", `/cahiers/${id}`);
            $("#prof").text(prof);
            $("#fil").text(title);
            $("#mod").text(mod);
            $("#sem").text(sem);

        })
    });
</script>
</body>
</html>