<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head ('Profsseur')}"></head>
<body class="bg-gray-100 font-sans">
<div class="flex h-screen">
    <div th:replace="~{fragments/side_bar :: aside}"></div>
    <main class="bg-white rounded-l-lg shadow-lg w-full flex flex-col h-screen">
        <header th:replace="~{fragments/nav.html :: nav}"></header>

        <section class="px-7 py-6 pr-8 flex justify-between items-center">
            <h2 id="pageTitle" class="text-3xl font-medium text-[#B10C74]">

            </h2>
        </section>

        <form th:action="@{/professeur/${professeur.id}}" method="post" id="profForm"
              onsubmit="return validateUserForm(this.id)"
              class="grid grid-cols-[1fr_auto_1fr] gap-6 px-6 pb-6 overflow-auto">

            <input type="hidden" name="_method" value="PUT">

            <!-- Left Column -->
            <div class="space-y-4">
                <!-- Nom -->
                <div>
                    <label for="nom" class="block mb-2 font-medium">Nom</label>
                    <input type="text" id="nom" name="nom" th:value="${professeur.nom}"
                           placeholder="Saisir Nom"
                           class="w-full p-3 rounded bg-gray-80 border border-gray-500 text-gray-700"
                           required />
                    <span id="nom-error" class="text-[#B10C74] text-sm hidden">Le nom ne doit contenir que des lettres, des espaces, des tirets ou des apostrophes.</span>

                </div>

                <!-- Prénom -->
                <div>
                    <label for="prenom" class="block mb-2 font-medium">Prénom</label>
                    <input type="text" id="prenom" name="prenom" th:value="${professeur.prenom}"
                           placeholder="Saisir Prénom"
                           class="w-full p-3 rounded bg-gray-80 border border-gray-500 text-gray-700"
                           required />
                    <span id="prenom-error" class="text-[#B10C74] text-sm hidden">Le prénom ne doit contenir que des lettres, des espaces, des tirets ou des apostrophes.</span>

                </div>

                <!-- Email -->
                <div>
                    <label for="email" class="block mb-2 font-medium">Email</label>
                    <input type="email" id="email" name="email" th:value="${professeur.email}"
                           placeholder="Saisir Email"
                           class="w-full p-3 rounded bg-gray-80 border border-gray-500 text-gray-700"
                           required />
                    <span id="email-error" class="text-[#B10C74] text-sm hidden">Entrer un e-mail valide.</span>
                </div>

                <!-- CIN -->
                <div>
                    <label for="cin" class="block mb-2 font-medium">CIN</label>
                    <input type="text" id="cin" name="cin" th:value="professeur.cin"
                           placeholder="Saisir CIN"
                           class="w-full p-3 rounded bg-gray-80 border border-gray-500 text-gray-700"
                           required />
                    <span id="cin-error" class="text-[#B10C74] text-sm hidden">Format de CIN invalide!.</span>
                </div>

                <!-- Téléphone -->
                <div>
                    <label for="telephone" class="block mb-2 font-medium">Numéro de Téléphone</label>
                    <input type="text" id="telephone" name="telephone" th:value="${professeur.telephone}"
                           placeholder="Saisir Numéro de Téléphone"
                           class="w-full p-3 rounded bg-gray-80 border border-gray-500 text-gray-700"
                           required />
                    <span id="telephone-error" class="text-[#B10C74] text-sm hidden">Numéro de téléphone marocain invalide (exemple : +212XXXXXXXXXX).</span>
                </div>
                <div>
                    <label for="genre" class="block mb-2 font-medium">Sexe</label>
                    <select required name="genre" id="genre" class="p-2 w-full border rounded-md focus:outline-none">

                    </select>
                </div>
                <!-- Adresse -->
                <div>
                    <label for="adresse" class="block mb-2 font-medium">Adresse</label>
                    <input type="text" id="adresse" name="adresse" th:value="${professeur.adresse}"
                           placeholder="Saisir Adresse"
                           class="w-full p-3 rounded bg-gray-80 border border-gray-500 text-gray-700"
                           required />
                </div>

                <!-- Date de Naissance -->
                <div>
                    <label for="dateNaissance" class="block mb-2 font-medium">Date de Naissance</label>
                    <input type="date" id="dateNaissance" name="dateNaissance" th:value="${profeseur.dateNaissance}"
                           class="w-full p-3 rounded bg-gray-80 border border-gray-500 text-gray-700"
                           required />
                    <span id="dateNaissance-error" class="text-[#B10C74] text-sm hidden">l'utilsateur doit avoir au moins 18 ans.</span>

                </div>

                <div>
                    <label for="password" class="block mb-2 font-medium">Mot de Passe</label>
                    <input type="password" id="password" name="pwd"
                           placeholder="Enter your password"
                           class="w-full p-3 rounded bg-gray-80 border border-gray-500 text-gray-700"
                           required />

                    <span id="password-error" class="text-[#B10C74] text-sm hidden">
      Le mot de passe doit comporter au moins 8 caractères, inclure des lettres majuscules et minuscules, un chiffre et un caractère spécial.
    </span>
                </div>

            </div>

            <div class="border-l-2 border-gray-300"></div>
            <!-- Right Column -->
            <div class="space-y-4">
                <!-- Password -->
                <!-- Confirm Password -->
                <div>
                    <label for="confirmPassword" class="block mb-2 font-medium">Confirmer le Mot de Passe</label>
                    <input type="password" id="confirmPassword" name="confirmPassword"
                           placeholder="Confirm your password"
                           class="w-full p-3 rounded bg-gray-80 border border-gray-500 text-gray-700"
                           required />
                    <span id="confirmPassword-error" class="text-[#B10C74] text-sm hidden">Les mots de passe ne correspondent pas</span>


                </div>
                <!-- Date Dernier Diplome -->
                <div>
                    <label for="dateDernierDiplome" class="block mb-2 font-medium">Date Dernier Diplôme</label>
                    <input type="date" id="dateDernierDiplome" name="dateDernierDiplome" th:value="${professeur.dateDernierDiplome}"
                           class="w-full p-3 rounded bg-gray-80 border border-gray-500 text-gray-700"
                           required />
                </div>

                <!-- Grade -->
                <div>
                    <label for="grade" class="block mb-2 font-medium">Grade</label>
                    <select name="grade" id="grade"
                            class="p-3 w-full border rounded-md focus:outline-none"
                            required>
                        <option value="" disabled th:if="${prof.grade == null}" selected>Saisir Grade</option>
                        <option value="MA" th:selected="${prof.grade == 'MA'}">Master</option>
                        <option value="PHD" th:selected="${prof.grade == 'PHD'}">Doctorat</option>
                    </select>
                </div>

                <!-- Date Embauche -->
                <div>
                    <label for="dateEmbauche" class="block mb-2 font-medium">Date d'Embauche</label>
                    <input type="date" id="dateEmbauche" name="dateEmbauche"
                           class="w-full p-3 rounded bg-gray-80 border border-gray-500 text-gray-700"
                           required />
                </div>

                <!-- Qualifications -->
                <div>
                    <label class="block  mb-2 font-medium">Qualifications</label>
                    <div id="qualifications-container" class="space-y-12">
                        <div class="flex gap-2">
                            <input type="text" name="qualifications[0].intitule"
                                   placeholder="Saisir Intitulé"
                                   class="w-full p-3 rounded border"
                                   required />
                            <input type="date" name="qualifications[0].dateObtention"
                                   class="w-full p-3 rounded border"
                                   required />
                            <button type="button" class="px-3 py-2 rounded" onclick="addQualification()">
                                <img src="/public/add.png" class="w-10 h-8" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class=" col-span-full flex justify-start gap-x-6">
                <button type="submit" class=" w-[269px] bg-[#313863] hover:bg-[#5663af] text-white font-bold py-3 px-4 rounded">
                    Confirmer
                </button>
                <a href="/professeur" class="w-[269px] text-center bg-[#B10C74] hover:bg-[#db2777] text-white font-bold py-3 px-4 rounded">
                    Annuler
                </a>
            </div>

            <script >
                document.addEventListener("DOMContentLoaded", () => {
                    const buttons = document.querySelectorAll(".modBtns"); // Select all buttons with the class 'modBtns'
                    buttons.forEach((button, index) => {
                        console.log(`Button ${index + 1}:`, button);
                    });
                });
            </script>

        </form>
    </main>
</div>


<script type="module">
    import { addProfessor, editProfessor, deleteProf } from '/public/js/profs/prof.js';
    $(document).ready(() => {
        addProfessor();
        editProfessor();
        deleteProf();
    });
    document.addEventListener("DOMContentLoaded", function () {
        let qualificationIndex = 1;

        window.addQualification = function () {
            const container = document.getElementById('qualifications-container');
            const newQualification = `
        <div class="flex gap-4">
          <input type="text"
                 name="qualifications[${qualificationIndex}].intitule"
                 placeholder="Saisir Intitulé"
                 class="w-full py-3 p-3 rounded border"
                 required />
          <input type="date"
                 name="qualifications[${qualificationIndex}].dateObtention"
                 class="w-full p-3 rounded border"
                 required />
          <button type="button"
                  class="px-3 py-2 rounded"
                  onclick="removeQualification(this)">
            <img src="/public/minus.png" class="w-10 h-8">
          </button>
        </div>
      `;
            container.insertAdjacentHTML('beforeend', newQualification);
            qualificationIndex++;
        };

        window.removeQualification = function (button) {
            button.parentElement.remove();
        };
    });
</script>
</body>
</html>
