<div th:fragment="affectation_form"
      method="POST"
      id="affectationForm"
      class="bg-red-100 overflow-y-auto"
      th:action="@{/filieres/{id}/affectations(id=${fil.id})}">
    <!-- Modules et Professeurs -->
    <form class="grid grid-cols-2 w-full">
        <div th:each="i : ${#numbers.sequence(1, 8)}"
             class="mx-24 my-5 p-5 flex flex-col gap-2 border border-[#bfbbb6] rounded-lg bg-[#f2eee7] affDivs"
             th:id="|affDiv-${i}|">
            <input type="hidden" th:id="|aff-${i}|" value="" th:name="|aff-${i}|">
            <div class="flex flex-col gap-5 justify-center">
                <div class="flex-1/3">
                    <label th:for="|module-${i}|"
                           class="block mb-2 font-medium moduleSelects">Module</label>
                    <select th:id="|module-${i}|" th:name="|module-${i}|"
                            class="w-full p-3 rounded bg-gray-100 border border-gray-500 text-gray-700">
                        <option value="" selected>Selectionner un Module</option>
                        <option th:each="module : ${modules}"
                                th:value="${module.getId()}"
                                th:text="${module.getIntitule()}"
                        >
                        </option>
                    </select>
                </div>
                <div class="flex-1/6">
                    <label th:for="|prof-${i}|"
                           class="block mb-2 font-medium profSelects">Professeur</label>
                    <select th:id="|prof-${i}|" th:name="|professeur-${i}|"
                            class="w-full p-3 rounded bg-gray-100 border border-gray-500 text-gray-700">
                        <option value="" selected>Selectionner un Professeur</option>
                        <option th:each="prof : ${profs}"
                                th:value="${prof.getId()}"
                                th:text="${prof.getFullName()}">
                        </option>
                    </select>
                </div>
                <div class="flex-1/6">
                    <label th:for="|jour-${i}|"
                           class="block mb-2 font-medium jourSelect">Jour</label>
                    <select th:id="|jour-${i}|" th:name="|jour-${i}|"
                            class="w-full p-3 rounded bg-gray-100 border border-gray-500 text-gray-700">
                        <option value="" selected>Selectionner un jour</option>
                        <option value="LUN">Lundi</option>
                        <option value="MAR">Mardi</option>
                        <option value="MER">Mercredi</option>
                        <option value="JEU">Jeudi</option>
                        <option value="VEN">Vendredi</option>
                        <option value="SAM">Samedi</option>
                    </select>
                </div>
                <div class="flex gap-5 justify-center">
                    <div class="flex-1/6">
                        <label th:for="|start-${i}|"
                               class="block mb-2 font-medium jourSelect">Heure de début</label>
                        <select th:id="|start-${i}|" th:name="|heureDebut-${i}|"
                                class="w-full p-3 rounded bg-gray-100 border border-gray-500 text-gray-700">
                            <option value="" selected>Début de la séance</option>
                            <option value="8">08 : 00</option>
                            <option value="14">14 : 00</option>
                        </select>
                    </div>
                    <div class="flex-1/6">
                        <label th:for="|end-${i}|"
                               class="block mb-2 font-medium jourSelect">Fin de séance</label>
                        <input th:id="|end-${i}|" type="text" th:name="|heureFin-${i}|" placeholder="Fin de la séance" readonly
                               class="w-full p-3 rounded bg-gray-300 border border-gray-500 text-gray-700"
                        />
                    </div>
                    <button class="bg-transparent self-end mb-2 removeBtns"
                            type="button" th:id="|remove-${i}|">
                        <img src="/public/minus.png" class="w-8 h-8">
                    </button>
                    <button class="bg-transparent self-end mb-2 saveButtons"
                            type="submit" th:id="|save-${i}|">
                        <img src="/public/save.png" class="w-8 h-8">
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Modal footer -->
